[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	push = group Motorola cedric maintainers
	pushMerge = group Motorola cedric maintainers
[access "refs/heads/*"]
	create = group Motorola cedric maintainers
	push = +force group Motorola cedric maintainers
	pushMerge = group Motorola cedric maintainers
	label-Code-Review = -2..+2 group Motorola cedric maintainers
	label-Verified = -1..+1 group Motorola cedric maintainers
	submit = group Motorola cedric maintainers
